@import '@spectrum-web-components/styles/all-medium-dark.css';
@import '@spectrum-web-components/styles/typography.css';

:root {
  background-color: rgb(50, 50, 50);

    --color-bg1: #242424;
    --color-bg2: #333;
    --color-bg3: #202020;

    --color-border: #3d3d3d;
    --color-divider: #525252;

    --color-text1: #bdc6cf;
    --color-text2: #a5a5a5;
    --color-text3: #ccc;
    --color-text4: #eaeaea;
    --color-placeholder: #7f7f7f;

    --color-red-bg: #290000;
    --color-red-fg: #ff8080;

    --color-green-bg: #1f4125;
    --color-green-fg: #35d4c7;

    --color-yellow-bg: #3b2c08;
    --color-yellow-fg: #e7ae47;

    --color-focus-border: #0e639c;
    --color-accent: #0e639c;
    --color-accent-hover: #1177bb;

    --color-selection-bg: #0e639c;
    --color-selection-fg: #cdcdcd;
    --color-item-hover: #3879d91a;

    --color-selection-inactive-bg: #474747;
    --color-selection-inactive-fg: #cdcdcd;
}


body {
    display: grid;
    grid-template-rows: auto 1fr;
    height: 100vh;
    width: 100%;
    position: relative;
    overflow: hidden;
    margin: 0;
    cursor: default;
    user-select: none;
}

.red-text {
  color: var(--spectrum-global-color-red-700);
}

.green-text {
  color: var(--spectrum-global-color-green-700);
}

p {
    margin-top: 0;
    margin-bottom: 1em;
}

textarea, input {
    font-family: '.SFNSDisplay-Regular', 'Helvetica Neue', 'Lucida Grande', sans-serif;
    color: var(--color-text);
    background: var(--color-bg1);
    border: 1px solid var(--color-border);
    width: 100%;
}

textarea:focus, input:focus {
    border: 1px solid var(--color-focus-border);
    outline: none;
}

.btn-icon {
    display: inline-block;
    font-size: 18px;
    line-height: 18px;
    cursor: pointer;
    color: rgb(145 145 145);
}

.btn-icon:hover {
    color: rgb(165 165 165);
}

.btn {
    cursor: pointer;
    color: var(--color-text1);
    border: 1px solid var(--color-divider);
    display: inline-block;
    padding: 2px 5px;
    border-radius: 4px;
}

.btn:hover {
    background: #6f6f6f5c;
}

.btn-accent {
    color: white;
    background: var(--color-accent);
}

.btn-danger {
  color: var(--color-red-fg);
}

.btn-accent:hover {
    background: var(--color-accent-hover);
}

.btn-link {
    border: none;
    color: #0c90e8;
}

.btn-link:hover {
    border: none;
    color: #57b8f9;
    background: none;
}

@keyframes spinner {
  to { transform: rotate(360deg); }
}

.spinner {
    animation: spinner 2s linear infinite;
}

.select {
  --height: 32px;
  --inputColor: var(--spectrum-global-color-gray-700);
  --background: var(--spectrum-global-color-gray-50);
  --listBackground: var(--spectrum-global-color-gray-50);
  --border: 1px solid var(--spectrum-global-color-gray-400);
  --itemActiveBackground: var(--spectrum-selection-background-color);
  --itemIsActiveColor: var(--spectrum-selection-text-color);
  --itemHoverBG: var(--color-item-hover);
  --borderHoverColor: var(--spectrum-global-color-gray-500);
  --borderFocusColor: var(--spectrum-global-color-blue-500);
  --borderRadius: var(--spectrum-alias-border-radius-regular);
  --clearSelectTop: 0;
  --clearSelectBottom: 0;
}

.clearSelect {
  position: relative;
}
